@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #e5e5e5;
  text-decoration: none;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.img {
  width: 100%;
  height: auto;
}

.container {
  max-width: 1170px;
  padding: 0 24px;
  margin: 0 auto;
}

/* badge */
.badge {
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  text-align: center;
  color: #6070ff;
  font-size: 12px;
  font-weight: 500;
}

/* button */
.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #7f8cff;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  cursor: pointer;
  margin: 20px 0;
  color: #396df2;
}

.btn:hover {
  color: #fff;
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.btn:active {
  background: #2230d2;
  color: #fff;
}

.btn:disabled {
  color: #5e6c84;
  border: 1px solid #e5e5e5;
}

/* navbar */

.navbar {
  background-color: white;
  padding: 20px 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo a {
  color: #6070ff;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.bars {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  width: 28px;
}

.bars .bar-item {
  border: 2px solid #6070ff;
  border-radius: 2px;
}

/* Hero  */
.hero {
  background-color: #fff;
  background-image: url("../images/header-bg-mobile.svg");
  background-repeat: no-repeat;
  background-position: 0 40px;
  background-size: contain;
  border-bottom-left-radius: 100px;
}

.hero-content-space {
  padding-top: 3rem;
  padding-bottom: 9rem;
}

.about-me-content h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin-top: 90px;
  margin-bottom: 20px;
}

.about-me-content p {
  font-size: 18px;
  font-weight: 400;
  color: #344563;
  line-height: 1.7;
}

.about-me-content .cta {
  color: #7f8cff;
  margin: 10px 0;
  font-size: 16px;
  font-weight: 500;
}

.about-me-content .social {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

/* work section */

.works {
  display: grid;
  grid-template-columns: 1fr;
  gap: 88px;
  margin: 114px 0;
}

.works .item {
  background-color: #fff;
  border: 1px solid #dfe1e6;
  padding: 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.works .item .item-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin: 16px 0;
}

.works .item * > p {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.works .content-box .details {
  display: flex;
  width: 100%;
}

.works .details h4 {
  margin: 0;
  width: 90px;
  font-size: 13px;
  font-weight: 600;
  color: #344563;
}

.works .details ul {
  list-style-type: disc;
  margin: 0;
  padding: 0;
  display: flex;
  width: 150px;
  justify-content: space-between;
} 

.works .details li {
  font-weight: 600;
  font-size: 13px;
  color: #7a869a;
}

.works .categories {
  width: 300px;
}

.floating {
  float: left;
  margin-right: 10px;
}

.clear{
  clear: both;
}

/* About  */
.about {
  background-color: #fff;
  border-top-right-radius: 100px;
  padding-top: 2rem;
  padding-bottom:114px;
}

.about .tools {
  padding: 15px 0;
}

.about .tools .dropdown-content {
  margin: 10px 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 0 8px;
}

.about .tools .dropdown-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 24px 8px;
  border-bottom: 1px solid #dfe1e6;
}

.about .tools .active {
  border-bottom: 0;
}

.about .tools .dropdown-title > h5 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin: 0;
}

.about .tools .dropdown-content .item {
  display: flex;
  background-color: #f7f7f9;
  border-radius: 8px;
  padding: 12px;
  align-items: center;
}

.about .tools .dropdown-content .item img {
  width: 48px;
  height: 48px;
  margin-right: 20px;
}

.about .tools .dropdown-content .item p {
  font-weight: 500; 
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.about .caret {
  padding: 0 20px;
}

/* Footer  */
.footer-bg {
  background-color: #6070FF;
  background-image: url("../images/contact-form-bg-mobile.svg");
  background-repeat: no-repeat;
  background-position: 0 40px;
  background-size: 100%;
  border-top-left-radius: 100px;
  padding-top: 103px;
}

.footer {
  background-color: white;
}

.footer .contact-heading {
  text-align: center;
  padding-bottom: 55px;
}

.footer .contact-heading h2 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  margin: 0;
  line-height: 52px;
}

.footer .contact-heading p {
  color: #EBEBFF;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.footer .contact-form {
  padding-bottom:45px;
}

.form-input {
  margin-bottom: 20px;
}

input,textarea {
  background: #FFFFFF;
  border: 1px solid #CFD8DC;
  border-radius: 8px;
  width: 100%;
  padding: 15px 16px;
  color: #172B4D;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}



